body {
    font-family: Arial, Helvetica, sans-serif;
}
/* This begins the analog clock styles */
.analog {
    width: 500px;
    height: 500px;
    border: 20px solid #00818a;
    border-radius: 50%;
    margin: 2rem auto;
    position: relative;
}

.point {
    width: 27px;
    height: 27px;
    background-color: #283149;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
    z-index: 6;
}

.analog span {
    position: absolute;
    inset: 30px;
    transform: rotate(calc(30deg * var(--h)));
    text-align: center;
}

.analog span b {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block; /* Check this out more to figure out why this worked */
    transform: rotate(calc(-30deg * var(--h)));

}

.analog .hand {
    position: absolute;
    bottom: 244px;
    left: 248px;
    transform: translateX(-50%);
    transform-origin: bottom;
}

.second {
    height: 35%;
    width: 5px;
    background-color: coral;
    z-index: 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minute {
    height: 40%;
    width: 10px;
    background-color: #00818a;
    z-index: 4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hour {
    height: 28%;
    width: 15px;
    background-color: #00818a;
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
/* This begins the digital clock styles */
.digital {
    background-color: #00818a;
    width: 500px;
    padding: 3.12em 5em;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    border-radius: .5em;
    bottom: 1em;
}

.display {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-family: monospace;    
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    margin-top: 2rem;
}

.inputs select {
    width: 4rem;
    font-size: 1.3rem;
    border: 1.5px solid coral;
    border-radius: 5px;
    padding: .1em;
}

#set {
    width: 5rem;
    font-size: .9rem;
    border: 1.5px solid coral;
    border-radius: 20px;
    padding: .1em;
    background-color: ;
}